<footer class="bg-dark text-center text-white">
    <div class="container p-4">
        <section>
            <form action="">
                <div class="row d-flex justify-content-center">
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Inscrivez-vous à notre newsletter</strong>
                        </p>
                    </div>
                    <div class="col-md-5 col-12">
                        <div class="form-outline form-white mb-4">
                            <input placeholder="adresse mail" type="email" id="form5Example21" class="form-control" />
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-light mb-4">
                            S'inscrire
                        </button>
                    </div>
                </div>
            </form>
            <div class="d-flex justify-content-center">
                <img class="m-2 logo" src="{{ asset('build/images/logo.png') }}">
            </div>
        </section>
        <hr>
        <section>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Informations légales</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="{{ path('conditions_index') }}" class="text-white">Conditions générales</a>
                        </li>
                        <li>
                            <a href="#" class="text-white">Mentions légales</a>
                        </li>
                        <li>
                            <a href="{{ path('politique_index') }}" class="text-white">Politique de confidentialité</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">A propose de nous</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="{{ path('who_index') }}" class="text-white">Qui sommes nous ? </a>
                        </li>
                        <li>
                            <a href="#!" class="text-white">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Heures d'ouvertures</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <p class="text-white">Lundi - Vendredi :</p>
                        </li>
                        <li>
                            <p class="text-white">08h00 - 20h00</p>
                        </li>
                        <li>
                            <p class="text-white">Samedi :</p>
                        </li>
                        <li>
                            <p class="text-white">10h00 - 19h00</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Contact Infos</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <p class="text-white">adepte-automobiles@contact.com</p>
                        </li>
                        <li>
                            <p class="text-white">04.74.21.30.60</p>
                        </li>
                        <li>
                            <p class="text-white"></p>
                        </li>
                        <li>
                            <p class="text-white">82 Bd Marius Vivier Merle, 69003 Lyon</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="text-center p-3">
    © 2020 Copyright by Adepte Automobiles
    </div>
</footer>
