<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
</head>
<body>
{% block body %}
    {% block header %}
        {% include('partials/header.html.twig') %}
    {% endblock %}
    <main class="{% block main_class %}{% endblock %}">
        {% block main %}{% endblock %}
    </main>
    {% block footer %}
        {% include('partials/footer.html.twig') %}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
