{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}

    <section>
        <div>
            <img class="banniere" src="{{ asset('build/images/banniere.jpeg') }}">
    </section>

{% endblock %}
